.address {
  font-style: normal;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 24px;
}

.address__link {
  width: max-content;
  letter-spacing: 0.1px;
  text-underline-position: under;
}

.address__street {
  width: 237px;
  padding-left: 1px;
  margin-bottom: -2px;
}
