.lots {
  padding: 179px 24px 24px;
}

.lots__heading {
  font-size: 40px;
  height: 47px;
  text-transform: uppercase;
  margin-left: 40px;
}

.lots__card-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 25px;
  margin-top: 27px;
  margin-bottom: 30px;
}

.lots__card {
  height: 100%;
}

.lots__card-link {
  text-decoration: none;
}

.lots__more-link {
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid black;
  margin-left: 40px;
  display: block;
  height: 25px;
  width: max-content;
}
